<h1 style="background: rgb(21, 255, 0);padding: 5px">ABOUT PAGE</h1>
<a routerLink="/about/contact">about details</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name book</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <span>{{isLoading}}</span>
        <tr *ngIf="!isLoading && books.length <1">Books unavailable</tr>
            <span *ngIf="isLoading" style="color: red;font-weight:600">Loading............</span>
        <tr *ngFor="let book of books">
        <th scope="row">{{book.id}}</th>
        <td>{{book.nameBook}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td><button>remove</button></td>
      </tr>
    </tbody>
  </table>