<!-- <app-home></app-home>
<div class="wrapp">
  <app-header></app-header>
  <app-courses></app-courses>
  <app-date #dateDemo></app-date>
  <div [ngStyle]="{'width.px': 500,'height.px': 400,'padding-top.px':20}">
    <input type="date" #dateBox (blur)="caculateAge()">
    <input type="text" #ageBox>
    <h1>{{dateComponent.happyNewYear()}}</h1>
</div>
</div> -->
<a routerLink="/">HOME PAGE</a>
<br>
<a routerLink="/about">ABOUT PAGE</a>
<br>
<a routerLink="/courses">COURSES PAGE</a>

<router-outlet></router-outlet>
